
.container {
  &__top {
    margin-top: 100px;
    text-align: center;
  }

  &__title {
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    margin-bottom: 15px;
  }

  &__subtitle {
    text-transform: uppercase;
    color: #333333;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding-bottom: 90px;
    &:after {
      content: "";
      position: absolute;
      display: block;
      background-color: $red__c;
      width: 60px;
      height: 3px;
      bottom: 50px;
    //   left: 0;
      right: 0;
    //   width: 100%;
      left: 50%;
      transform: translateX(-50%)
    }
  }
   &__about {
    max-width: 955px;
    margin: 0 auto 60px;
    font-family: Roboto;
    line-height: 24px;
    color: $grey_c;

    padding: 0 20px 0 20px;
  }
}

.btn {
  text-transform: uppercase;
  padding: 7px 10px 7px 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffffff;
  color: $white__c;
  font-family: "Montserrat", sans-serif;
}