@import "variables.scss";
@import "nullstyles.scss";
@import "global.scss";

body {
  font-family: "Kaushan Script", cursive;
  font-family: "Montserrat", sans-serif;
}
// style
.container {
  max-width: 1200px;
  margin: 0 auto;
}
main {
  position: relative;
}
.header {
  background-image: url(../img/img_header/background_header01.png);
  background-size: cover;
  position: relative;
  // height: 100vh;
  z-index: 0;

  .header__overlay {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    );
  }
  &__container {
    padding: 28px 20px 28px 20px;
  }

  &__top-row {
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    position: relative;
  }

  &__col {
    flex: 0 1 50%;
  }

  &__logo {
    z-index: 0;
    font-size: 30px;
    color: $white__c;
    font-weight: bold;
  }

  // !hamburger_menu
  .hamburger {
    &__inner {
      cursor: pointer;
      z-index: 2;
      display: none;
      position: absolute;
      right: 0;
      width: 30px;
      height: 15px;
      // border: 5px solid black;
      align-items: center;
      justify-content: center;
    }
    &__menu {
      border-radius: 7px;
      width: 30px;
      height: 3px;
      background-color: $yellow__c;
      transition: all 0.5s ease;
      &.active {
        transform: translateX(-15px);
        background: transparent;
      }
      &.active:before {
        transform: rotate(45deg) translate(15px, -15px);
      }
      &.active:after {
        transform: rotate(-45deg) translate(15px, 15px);
      }
      &:before {
        transform: translateY(-10px);
      }
      &:after {
        transform: translateY(10px);
      }
      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: $yellow__c;
        border-radius: 7px;
        transition: all 0.5s ease;
      }
    }
  }

  // !hamburegr_menu

  // !overlay__all

  .overlay {
    background-color: rgba(3, 3, 3, 0.598);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: none;
  }

  .overlay.active {
    display: block;
  }

  // !overlay__all

  // !sidebar
  .sidebar {
    font-family: "Montserrat", sans-serif;
    z-index: 1;
    // margin-top: -100px;
    position: fixed;
    // display: none;
    background-color: white;
    height: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: 0.5s ease-in-out;
    height: 40%;
    opacity: 0;
    &__inner {
      padding: 20px;
      width: 100px;
      height: 0;
    }

    &__item {
      margin-top: 40px;
      transition: 0.3s ease-out;
      &:hover {
        transform: translate(20px);
        transition: 0.3s ease-out;
      }
      &:hover .sidebar__link {
        border-bottom: 1px solid $red__c;
      }
    }

    &__link {
      color: $red__c;
      padding: 0 0 7px 0;
    }
  }
  .sidebar.active {
    transition: 0.5s ease-in-out;
    // display: block;
    margin: 0;
    opacity: 1;
  }

  // !sidebar
  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    &:hover .header__link {
      color: $yellow__c;
    }
    &:after {
      content: "";
      position: absolute;
      display: none;
      width: 100%;
      height: 2px;
      bottom: -5px;
      background-color: $yellow__c;
    }
    &:hover:after {
      display: block;
    }
    &:hover:nth-child(6):after,
    &:hover:nth-child(7):after {
      display: none;
    }
  }

  &__link {
    color: $white__c;
    font-size: 14px;
  }

  &__body {
    // margin-top: 164px;
    text-align: center;
  }
  &__body-container {
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 30px;
    font-family: "Kaushan Script";
    font-size: 30px;
    color: $white__c;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 150px;
    color: $white__c;
  }

  &__btn {
    position: relative;
    margin: 80px 0 65px 0;
    transition: 0.4s ease-in-out;
    &:after {
      content: "";
      position: absolute;
      display: block;
      bottom: 90px;
      width: 60px;
      height: 3px;
      background-color: $white__c;
    }
    &:hover {
      transition: 0.4s ease-in-out;
      background-color: $white__c;
      color: $yellow__c;
    }
  }
}
// !///////////////////////////////////////////////////////////////////////////////////////////////
.slider {
  &__header {
    display: flex;
    justify-content: space-between;
    font-family: $font-family_mon;
  }

  // margin-right: 30px;
  &__item {
    cursor: pointer;
    // margin-left: 30px;
    // max-width: 290px;
    width: calc(25% - 20px);
    // width: 100%;
    border-top: 3px solid $white__c;
    padding: 20px 0;
    opacity: 0.5;
    color: $white__c;
    position: relative;
    &.active {
      opacity: 1;
    }
    &.active:before {
      content: "";
      position: absolute;
      display: block;
      width: 70px;
      height: 3px;
      top: -3px;
      background-color: $red__c;
    }
  }

  &__number {
    font-size: 24px;
    font-weight: bold;
  }
}

// !///////////////////////////////////////////////////////////////////////////////////////////////
// main
// !section__about
.about {
  padding: 0px 0px 100px 0px;
  &__body {
    text-align: center;
    padding: 0px 15px 0px 15px;
  }

  .about {
    &__card {
      // margin-right: 15px;
      //   padding: 0px 15px 0px 15px;
      display: flex;
      justify-content: space-between;
      font-family: $font-family_mon;
    }

    &__item {
      margin: 0 15px 0 15px;
      max-width: 370px;
      width: 100%;
      // flex: 0 1 30%;
      transition: 0.4s ease-in-out;
      &:hover {
        transform: translate3d(-10px, -10px, 0);
        box-shadow: 7px 7px 1px 2px #95e1d3;
        transition: 0.4s ease-in-out;
      }
      &:hover .about__overlay {
        // display: block;
        height: 100%;
        transition: 0.4s ease-in-out;
      }
    }

    &__img {
      position: relative;
      img {
        width: 100%;
      }
    }

    &__overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 0px;
      transition: 0.4s ease-in-out;
      background-image: linear-gradient(
        to top,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      );
    }

    &__overlay-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      overflow: hidden;
      span {
        margin-top: 7px;
        font-weight: bold;
        color: $white__c;
      }
    }
  }
}

// !section__about

// !section__number
.number {
  background-color: $birch_c;

  &__container {
    // padding: 0 15px 0 15px;
    display: flex;
    justify-content: space-between;
  }

  &__col {
    border-left: 1px solid white;
    border-right: 1px solid white;
    flex: 0 1 20%;
  }

  &__item {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: white;
    padding: 40px 0;
    span {
      font-size: 72px;
      font-weight: bold;

      margin-bottom: 13px;
    }
    p {
      padding: 0 5px 0 5px;
      margin-top: 7px;
    }
  }
}

// !section__number

// !section__services
.services {
  &__container {
    padding: 0px 15px 0px 15px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 30px;
  }

  &__row {
    display: flex;
    border-bottom: 1px solid $birch_c;
    padding: 50px 0px 0px 0px;
  }
  &__row:first-child {
    padding-top: 0;
  }
  &__row:last-child {
    border-bottom: none;
  }
  &__col {
    flex: 0 1 34%;
    // margin-left: 50px;
    padding: 0 10px 0 10px;
    svg {
      fill: $birch_c;
      transition: 0.4s ease-in-out;
    }
  }
  &__col:hover svg {
    fill: $black__c;
    transition: 0.4s ease-in-out;
  }
  &__col:hover .services__info .subtitle {
    color: $black__c;
  }

  &__item {
    padding: 10px 0px 40px 10px;
    display: flex;
    transition: 0.4s ease-in-out;
    &:hover {
      background-color: $birch_c;
      transform: translateX(-20px);
      transition: 0.4s ease-in-out;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }

  &__info {
    .title {
      color: #333333;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 7px;
    }
    .subtitle {
      font-size: 15px;
      color: #999999;
      line-height: 24px;
      max-width: 320px;
      width: 100%;
    }
  }
}

// !section__services

// !section__design
.design {
  padding-top: 1px;
  background-image: url(../img/img_header/design/bg_design.jpg);
  background-size: cover;
  background-position: center;
  // margin-bottom: 200px;

  .container {
    &__devices {
      position: relative;
      max-width: 530px;
      margin: auto;
      // text-align: center;
    }
    &__tablet {
      display: inline-flex;
      width: 100%;

      // display: inline-flex;
      img {
        width: 100%;
      }
    }

    &__phone {
      position: absolute;
      bottom: -85px;
      right: -100px;
    }
  }
}

// !section__design

// !section__we-do
.we-do {
  .container {
    &__collapse {
      margin: 20px 20px 100px 20px;

      display: flex;
      // justify-content: space-between;
    }
  }
  .collapse {
    &__col {
      width: 45%;
      margin-left: 30px;
      img {
        width: 100%;
      }
    }
    &__col:first-child {
      margin-left: 0;
    }

    &__row {
      margin-top: 20px;
      // padding: 14px 20px 14px 16px;
    }
    &__row:first-child {
      margin-top: 0;
    }

    &__wrapper-inner--block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px 10px 16px;

      border: 1px solid #e5e5e5;
    }
    &__inner-block {
      display: flex;
      align-items: center;
    }
    &__title {
      text-transform: uppercase;
      font-family: $font-family_mon;
      font-weight: bold;
      margin-left: 15px;
    }

    &__icon:last-child {
      svg {
        width: 22px;
        height: 10px;
      }
    }
    &__icon-toggle.active {
      transform: rotate(-180deg);
      // display: none;
    }

    &__container-subtitle {
      border: 1px solid #e5e5e5;
      font-family: $ff-r;
      font-style: italic;
      padding: 10px;
      display: none;
      // height: 0;
      // opacity: 0;
    }

    &__container-subtitle.active {
      display: block;
    }

    &__subtitle {
      height: 140px;
      overflow-y: scroll;
      // height: 150px;
      line-height: 24px;
      p {
        margin-right: 10px;
        font-size: 12px;
        color: #999999;
      }
    }
    &__subtitle::-webkit-scrollbar-thumb {
      background-color: red;
    }
  }
}

// !section__we-do

// !section__team

.team {
  // padding-bottom: 100px;

  &__container-card {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
  }
  &__card {
    min-height: 400px;
    text-align: center;
    width: 30%;
  }

  &__card:hover .overlay__card {
    // display: block;
    height: 100%;
  }
  &__img {
    position: relative;
    // min-height: 400px;
    transition: 0.4s ease-in-out;
    background-repeat: no-repeat;
    img {
      width: 100%;
    }
  }
  &__img:hover {
    transform: translate3d(-10px, -10px, 0);
    box-shadow: 7px 7px 1px 2px #95e1d3;
    transition: 0.4s ease-in-out;
  }
  .overlay {
    &__card {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.4s ease-in-out;
      // display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 0px;
      overflow: hidden;
      background-image: linear-gradient(
        to top,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      );
    }
    &__container {
      display: flex;

      // margin: auto;
      // padding: 200px 70px;
    }

    &__item {
      border-right: 1px solid $red__c;
      display: flex;
      align-items: center;
      justify-content: center;
      // width: 50px;
      // height: 50px;
      padding: 17px;
      background-color: $yellow__c;
      svg {
        fill: $red__c;
      }
    }
    &__item:hover {
      background-color: $red__c;
    }
    &__item:hover svg {
      fill: white;
    }
    &__item:last-child {
      border: none;
    }
  }

  &__name {
    margin-top: 30px;
    .name {
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
    }
    .subtitle {
      font-size: 13px;
      margin-top: 15px;
      font-family: $ff-r;
      font-style: italic;
      font-weight: 100;
    }
  }
  .container {
    &__brands {
      margin-top: 100px;
      padding: 50px 0;
      background-color: #f8f8f8;
    }
  }
  .wrapper {
    &__brands {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;
    }
  }
  .brands {
    &__img {
      margin: 0 10px;
      img {
        width: 100%;
      }
    }
  }
}

// !section__team

// !section__works

.works {
  &__container {
    display: flex;
  }

  &__col {
    width: 25%;
  }
  &__item {
    position: relative;
    img {
      width: 100%;
    }
  }
  &__item:hover .overlay__card {
    height: 100%;
  }
}
.overlay {
  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease-in-out;
    // display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 0px;
    overflow: hidden;
    background-image: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    );
  }
  &__container-works {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-top: 10px;
    font-family: $font-family_mon;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-top: 10px;
    font-family: $ff-r;
    font-style: italic;
    font-weight: lighter;
  }
}
.slider.works {
  background-color: white;
}
.slider__img.works {
  border: none;
}
.slider__img svg{
  width: 40px;
  height: 40px;
}

// !section__works

// !section__people
.people {
  padding-top: 10px;
  padding-bottom: 100px;
  background-image: url(../img/people/bg_people.png);
  background-size: cover;
  background-position: center;
  &__container {
    margin-top: 80px;
    padding: 0 15px;
  }
  &__row {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }
  &__col {
    width: 45%;
    display: flex;
  }

  &__about {
    margin-left: 30px;
  }
  .title {
    font-family: $font-family_mon;
  }
  .subtitle {
    margin-top: 10px;
    font-family: $ff-r;
    font-style: italic;
    font-weight: lighter;
    position: relative;
    display: inline-block;
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 40px;
      height: 2px;
      background-color: $red__c;
      bottom: -20px;
      // left: 50%;
      // transform: translateX(-50%)
    }
  }
  .text {
    margin-top: 30px;
    font-family: $ff-r;
    line-height: 24px;
    color: #999999;
  }
}
// !section__people

// !section__blog
.blog {
  &__container {
    // margin: 0 15px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin: 0 20px;
    width: 31%;
    display: block;
  }

  &__img {
    position: relative;
    img {
      width: 100%;
    }
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: $birch_c;
    padding: 15px;
    left: -15px;
    bottom: 10px;
    color: white;
    .date {
      font-size: 18px;
      font-weight: bold;
      font-family: $font-family_mon;
    }
    span {
      font-family: $ff-r;
      font-weight: 100;
      font-style: italic;
    }
  }

  &__info {
    margin-top: 20px;
    .title {
      font-weight: 400;
      color: black;
      font-family: $font-family_mon;
    }
    .subtitle {
      margin-top: 20px;
      font-family: $ff-r;
      color: #999999;
      line-height: 20px;
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 20px;
    }
  }

  &__icon {
    margin-top: 10px;
    font-family: $ff-r;
    display: flex;
    font-style: italic;
    .icon span {
      margin-left: 5px;
      color: #999999;
    }
    .icon.sms {
      margin-left: 20px;
    }
  }

  .map {
    margin-top: 100px;
    padding-top: 10px;
    background-image: url(../img/blog/bg_map.png);
  }
}

// !section__blog

// !footer
.footer {
  margin-top: 80px;
  padding: 0 15px;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__col {
    font-family: $font-family_mon;
    // width: 34%;
    padding-left: 30px;
  }
  &__col:first-child {
    padding-left: 0;
  }
  .footer__col.mogo {
    max-width: 460px;
  }
  .footer__title.mogo {
    font-weight: bold;
    font-size: 40px;
    color: #cccccc;
  }
  &__body {
    margin-top: 40px;
  }
  &__subtitle {
    font-family: $ff-r;
    line-height: 24px;
    color: #999999;
    font-size: 14px;
  }
  &__subtitle--followers {
    margin-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    span {
      font-weight: bold;
      margin-right: 6px;
    }
  }
  &__follow-us {
    display: flex;
    margin-top: 20px;
    span {
      font-family: $ff-r;
      font-style: italic;
      font-weight: 100;
    }
  }
  &__container-social {
    margin-bottom: 40px;
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  &__social--item:first-child {
    margin-left: 0;
  }
  &__social--item {
    margin-left: 10px;
  }
  &__form {
    height: 40px;
    max-width: 400px;
    form {
      height: 40px;
      input {
        font-family: $font-family_mon;
        max-width: 205px;
        width: 100%;
        outline: none;
        border: 1px solid #e7e7e7;
        padding: 10px;
        &::placeholder {
          color: #cccccc;
        }
      }
      button {
        cursor: pointer;
        outline: none;
        border: none;
        max-width: 150px;
        width: 100%;
        height: 100%;
        background-color: #95e1d3;
        font-weight: bold;
        color: white;
        font-family: $font-family_mon;

        transition: 0.4s ease-in-out;
        &:hover {
          transition: 0.4s ease-in-out;
          background-color: white;
          border: 1px solid;
          color: $birch_c;
        }
      }
    }
  }

  // !blogs
  .footer__col.blogs {
    max-width: 340px;
    width: 100%;
  }
  &__blogs--row {
    margin-top: 30px;
    display: flex;
    align-items: center;
  }
  &__blogs-img {
    margin-right: 20px;
  }
  &__blogs-img--info {
    .title {
      line-height: 20px;
      margin-bottom: 10px;
      font-weight: 500;
    }
    .subtitle {
      font-family: $ff-r;
      font-style: italic;
      color: #999999;
      font-weight: 100;
    }
  }
  // !blogs

  // !instagram

  .footer__col.instagram {
    max-width: 270px;
  }
  &__instagram-col {
    display: flex;
  }
  &__instgram-subtitle {
    display: block;
    margin-top: 20px;
    font-family: $ff-r;
    font-style: italic;
    color: #999999;
    font-weight: 100;
  }

  // !instagram

  .copyright {
    color: black;
    font-family: $font-family_mon;
    border-top: 1px solid #9999;
    margin-top: 100px;
    padding: 22px 0;
    display: flex;
    justify-content: center;
    // align-items: center;
    span {
      margin-left: 10px;
      color: $red__c;
    }
  }
}

// !footer

// !owl-slider
.slider {
  background-color: #f8f8f8;
  padding: 70px 0 70px 60px;

  .owl-carousel {
    max-width: 650px;
    margin: auto;
    .owl-nav {
      position: absolute;
      display: flex;
      align-items: center;
      width: 100%;
      margin: auto;
      bottom: 0;
      top: 0;
      button {
        &.owl-next,
        &.owl-prev {
          position: absolute;
          outline: none;
          background-color: transparent;
          font-size: 35px;
          color: #cccccc;
        }
        &.owl-next {
          position: absolute;
          right: 0px;
        }
        &.owl-prev {
          left: -25px;
        }
      }
    }
  }

  .owl-theme .owl-nav [class*="owl-"]:hover {
    background: transparent;
  }

  &__container {
    display: flex;
    // justify-content: center;
    align-items: center;
  }

  &__img {
    border: 3px solid $birch_c;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__body {
    // margin-left: 40px;
    padding-right: 25px;
    padding-left: 20px;
  }

  &__title {
    color: #999999;
    font-family: $ff-r;
    font-style: italic;
    // font-weight: 400;
    line-height: 24px;
    max-width: 520px;
  }

  &__name {
    font-family: $font-family_kau;
    margin-top: 24px;
    position: relative;
    padding-left: 60px;
    display: inline-block;
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 40px;
      height: 1px;
      background-color: $red__c;
      top: 50%;
      left: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .owl-carousel {
      .owl-nav {
        top: auto;
        bottom: -50px;
        justify-content: center;
        button {
          &.owl-next,
          &.owl-prev {
            position: relative;
            margin: 0 10px;
          }
        }
      }
    }
  }
}

// !owl-slider

// main
